@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

html {
    max-height: 100vh;
    overflow: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    opacity: 1;
    overflow-y: scroll;
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.275rem;
    color: var(--bs-emphasis-color);
}

/* Layout for admin dashboard skeleton */

.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
    height: 100%;
}

#sidebar {
    max-width: 264px;
    min-width: 264px;
    min-height: 100vh;
    max-height: 100vh;
    background: rgb(0, 102, 255);
    transition: all 0.35s ease-in-out;
}

.complete-main {
    height: 100vh;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    max-height: 96.3vh;
    min-width: 0;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    width: 100%;
    background: #65a3ff07;
}

/* Sidebar Elements Style */

.sidebar-logo {
    padding: 2rem;
}

.sidebar-logo a {
    color: #e9ecef;
    font-size: 1.3rem;
    font-weight: 600;
}

.sidebar-nav {
    flex-grow: 1;
    list-style: none;
    margin-bottom: 0;
    padding-left: 25px;
    margin-left: 0;
}

a.sidebar-link {
    width: 100%;
    border-radius: 30px 0 0 30px;
    padding: .625rem 1.625rem;
    color: #e9ecef;
    position: relative;
    display: block;
    font-size: .9rem;
}

.sidebar-link {
    display: flex;
    align-items: center;
}

.sidebar-link.active {
    background: #fbfcff;
    color: #0d6efd;
}

.sidebar-item i {
    margin-right: 11px;
    font-size: 1.4rem;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}


.avatar {
    height: 40px;
    width: 40px;
}

.navbar-expand .navbar-nav {
    margin-left: auto;
}

.content {
    flex: 1;
    max-width: 100vw;
    width: 100vw;
}

@media (min-width:768px) {
    .content {
        max-width: auto;
        width: auto;
    }
}

.card {
    box-shadow: 0 0 .875rem 0 rgba(34, 46, 60, .05);
    margin-bottom: 24px;
}

.illustration {
    background-color: var(--bs-primary-bg-subtle);
    color: var(--bs-emphasis-color);
}

.illustration-img {
    max-width: 150px;
    width: 100%;
}

/* Sidebar Toggle */

#sidebar.collapsed {
    margin-left: -264px;
    min-height: 130vh;
}

/* Hidden and Show*/

.hidden {
    display: none !important;
}

.show {
    display: flex !important;
}

/* Navbar - Search */

.search {
    background: none !important;
}

/* List */

.main-list {
    height: 100vh;
}

.search-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-list input {
    margin-right: 7px !important;
}

.list {
    font-size: 1rem;
}

.list-title {
    font-size: 1.2rem;
}

.list-group {
    border-radius: 12px;
}

.list-title {
    border-radius: 12px 12px 0px 0px;
}

.list-group-numbered {
    padding: 0;
    margin: 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

/* Nav-bottom */

.nav-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
}

.btn-success {
    font-size: .9rem;
    padding: .50rem .70rem;
}

.pagination {
    --bs-pagination-font-size: .8rem;
    margin: 0 !important;
}

/* Perfil */

.main-perfil-student {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 0;
    margin: 0;
}

.card-perfil-addturma {
    width: 80%;
    margin: 10px;
    padding: 2rem;
    padding-top: 20px;
    background: rgb(255, 255, 255);
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.11);
    border-radius: 20px;
}

h5.card-title {
    margin-bottom: 20px !important;
}

.row-perfil {
    width: 90%;
    margin: auto;
}

.legenda {
    font-size: 1rem;
    margin-left: 10px;
}

.form-control {
    margin: 10px;
    margin-top: 2px;
}

.nav-bottom-perfil {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

/* Turmas */

.main-turmas {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.turmas {
    width: 95%;
    height: 85%;
    display: flex;
    justify-content: center;
    padding: 0 3rem;
}

.title-turmas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    padding: 0 1rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 0;
}

.card.turma {
    width: 90%;
    height: 7rem;
    border-radius: 12px;
    margin: 1.5rem;
}

.card-title {
    font-size: 2.3rem;
    margin: .7rem !important;   
}

.card-color {
    border-radius: 0 0 12px 12px;
    height: 100%;
    background: #0d6efd;
}

.row-nav-turmas {
    width: 89%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
}

.pagination-turmas {
    justify-content: end;
}

/* Add_Turma */

.main-add-turma {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 0;
    margin: 0;
}

.nav-bottom-turma {
    width: 80%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.btn-group-add-turma {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-add-turma {
    margin: 0 !important;
    margin-left: 8px !important;
    display: flex;
    align-items: center;
}

.btn-add-turma i {
    font-size: 1.08rem;
    margin-left: 3px;
    margin-bottom: .01rem;
}

.legenda-add-turma {
    margin-left: 13px;
}

/* Footer */

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Footer and Nav */

@media (width:1024px) and (height:1366px) {
    /* Turma */

    .turmas {
        height: 47%;
        padding-top: 20px;
    }

    .card.turma {
        width: 100%;
        height: 17%;
        margin: .3rem;
    }

    .row-nav-turmas {
        padding: 0;
        padding-right: 15px;
    }
}

@media (width:1024px) and (height:600px) {
    .complete-main {
        height: 100vh;
    }

    .main {
        min-height: 60rem;
    }

    footer {
        background: #ffffff67;
        z-index: 3;
    }

    #sidebar {
        min-height: 60rem;
    }
    
    /* Turmas */

    .turmas {
        min-height: 80%;
        padding-top: 20px;
    }

    .card.turma {
        width: 100%;
        height: 20%;
        margin: .3rem;
    }

}

@media (width:912px) and (height:1368px) {
    /* Turma */

    .turmas {
        height: 47%;
        padding-top: 20px;
    }

    .card.turma {
        width: 100%;
        height: 17%;
        margin: .3rem;
    }

    .row-nav-turmas {
        padding: 0;
        padding-right: 15px;
    }
}

@media (max-height: 838px) {
    .card5-turma-col1, .card5-turma-col2 {
        display: none;
    }

    .turmas {
        height: 80%;
    }
}

@media (width:853px) and (height:1280px) {
    .title-turmas {
        padding: 0 40px;
    }

    .title-turmas h3 {
        margin-left: 17px;
    }

    .turmas {
        width: 100%;
        height: 60%;
    }

    .row-nav-turmas {
        padding: 0;
        padding-right: 18px;
    }
}

@media (width:820px) and (height:1180px) {
    /* Turma */

    .turmas {
        width: 100%;
        height: 55%;
    }

    .card.turma {
        width: 100%;
        height: 17%;
        margin: .3rem;
    }

    .row-nav-turmas {
        padding: 0;
    }
}

@media (max-width:768px) {

    .js-sidebar {
        margin-left: -264px;
    }

    #sidebar.collapsed {
        margin-left: 0;
    }

    .navbar, footer, .main-turmas {
        width: 100vw;
    }
}

@media (width:540px) and (height:720px) {
    .complete-main {
        height: 100vh;
    }

    .main {
        min-height: 50rem;
    }

    footer {
        background: #ffffff67;
        z-index: 3;
    }

    /* Turma */

    .turmas {
        height: 65%;
        padding-top: 20px;
    }

    .col-turmas2 {
        display: none;
    }

    .card.turma {
        width: 100%;
        height: 21%;
        margin: 0;
    }

    .row-nav-turmas {
        padding: 0;
    }

    .pagination-turmas {
        justify-content: center;
    }
}

@media (max-width:430px) {
    .nav-bottom {
        flex-direction: column-reverse;
    }

    .btn-add-editar {
        margin: 10px !important;
    }

    .btn-success {
        margin-top: 1rem;
    }

    /* Turmas */

    .turmas {
        padding: 1.5rem;
        height: 80%;
    }

    .col-turmas2 {
        display: none;
    }

    .card5-turma-col1 {
        display: flex;
    }

    .title-turmas h3{
        font-size: 1.2rem;
    }

    .btn-turma {
        width: 50%;
        font-size: 1rem;
    }

    .card.turma {
        width: 100%;
        height: 17%;
        margin: 0;
    }

    .row-nav-turmas {
        width: 95%;
        padding: 0;
    }

    .pagination-turmas {
        justify-content: center;
    }

    /* Perfil */

    .row-perfil {
        display: flex;
        flex-direction: column;
        width: 100%;        
    }

    .legenda {
        margin: 0;
    }

    .form-control {
        margin: 0;
        margin-bottom: 10px;
    }

    .nav-bottom-perfil {
        width: 90%;
        align-items: center;
    }

    .btn-add-editar {
        margin: 2px !important;
    }
}

@media (max-width:412px) and (max-height:914px) {
    /* Turma */

    .turmas {
        height: 72%;
    }

    .card.turma {
        width: 100%;
        height: 17%;
        margin: .3rem;
    }
}

@media (max-width:390px) {
    .complete-main {
        height: 100vh;
    }

    .main {
        min-height: 70rem;
    }

    .main-turmas {
        height: 100vh;
    }

    footer {
        background: #ffffff67;
        z-index: 3;
    }

    #sidebar.collapsed {
        min-height: 70rem;
    }

    /* Perfil */

    .nav-bottom-perfil {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .seconde-btn-perfil {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
    }

    .btn-add-editar {
        margin-top: 10px !important;
    }

    /* Turma */

    .turmas {
        height: 69%;
    }

    .card.turma {
        width: 100%;
        height: 17.5%;
        margin: .3rem;
    }

    .pagination-turmas {
        justify-content: center;
    }
}

@media (max-width:390px) and (max-height:900px) {
    /* Turma */

    .card.turma {
        width: 100%;
        /* height: 15%; */
        margin: 0;
    }
}

@media (width:390px) and (height:844px) {
    
}


@media (width:375px) and (height:874px) {
    .card.turma {
        height: 15%;
    }
}

@media (max-width:375px) and (max-height:667px) {
    /* Turma */
    .main-turmas {
        height: 110vh;
    }
    
    .turmas {
        height: 100%;
    }

    .card.turma {
        width: 100%;
        height: 17%;
        margin: 0;
    }
}

@media (width:360px) and (height:740px) {
    .turmas {
        height: 100%;
    }
}

@media (max-width:320px) {
    .title-coordenacao h4{
        font-size: 1.1rem;
    }

    .btn-add-aluno, .btn-add-coordenador {
        width: 60%;
        font-size: 0.8rem;
    }

    .card-title {
        font-size: 2rem;
    }

    .btn-add-editar {
        width: 100%;
        font-size: 14.4px;
    }

    /* Add - Turmas */

    .btn-group-add-turma {
        width: 100%;
        font-size: 1rem;
    }

    .btn-add-turma {
        font-size: .9rem;
        display: flex;
        justify-content: center;
    }
}

@media (max-width:280px) and (max-height:653px) {
    .complete-main {
        height: 100vh;
    }

    .main {
        min-height: 85rem;
    }

    footer {
        background: #ffffff67;
        z-index: 3;
    }

    #sidebar.collapsed {
        margin-left: -25px;
        min-height: 85rem;
    }

    /* Turmas */

    .title-turmas {
        flex-direction: column;
        width: 100%;
    }

    .title-turmas h3 {
        font-size: 1.5rem;
    }

    .btn-turma {
        width: 90%;
    }

    .turmas {
        width: 100%;
        height: 74%;
        padding: 0;
        padding-top: 20px;
    }

    .card.turma {
        width: 100%;
        height: 17%;
        margin: 0;
    }
}