/* Turmas */

.main-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; /*Para ocupar todo espaço acima do footer*/
}

.inicio-cards {
    width: 95%;
    padding: 0 3rem;
    margin-bottom: 1rem;
}

.title-inicio {
    display: flex;
    justify-content: space-between;
    width: 91.3%;
    padding: 0 3rem;
    margin-top: 1.68rem;
}

.title-inicio h3{
    font-size: 1.98rem;
}

.btn-success {
    font-size: .9rem;
    padding: .5rem .7rem;
}

.card.inicio {
    /* height: 6.5rem; */
    border-radius: 12px;
    margin: 1.49rem;
}

.card-title {
    font-size: 2.1rem;
    font-weight: 100;
    margin: .7rem !important;
}

.card-color {
    border-radius: 0 0 12px 12px;
    height: 3vh;
    background: #0d6efd;
}

@media (width:1280px) and (height: 800px) {
    .title-inicio {
        margin-left: 1.6rem;
    }
}

@media (max-width: 1024px), (width: 1024px) and (height: 1366px) {
    #sidebar {
        min-width: 40%;
    }

    .col.card-inicio {
        width: 100%;
    }

    .footer {
        margin-top: 1.16rem;
    }

    .title-inicio {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
    }

    .inicio-cards {
        padding: 0;
    }

    .inicio-cards .card {
        margin: 1.49rem 0;
    }
}

@media (max-width: 430px) {    
    html {
        overflow: scroll;
    }
    
    body {
        overflow-y: scroll;
    }
    
    #sidebar {
        min-width: 70%;
    }

    #sidebar {
        margin-right: 24px;
    }

    #sidebar.collapsed {
        margin-left: -438px;
    }

    .inicio-cards {
        width: 90vw;
    }
}

@media (width: 540px) {
    html {
        overflow: scroll;
    }
    
    body {
        overflow-y: scroll;
    }
    
    #sidebar {
        min-width: 50%;
    }

    #sidebar {
        margin-right: 24px;
    }

    #sidebar.collapsed {
        margin-left: -438px;
    }

    .inicio-cards {
        width: 90vw;
    }
}

@media (width: 375px) {
    .title-inicio h3 {
        font-size: 2rem;
    }
}

@media (width: 360px) {
    .sidebar-logo {
        padding: 2rem 30px;
    }

    .card-title{
        font-size: 1.7rem;
    }
}

@media (width: 344px) {
    .sidebar-logo {
        padding: 2rem 24px;
    }

    .card-title {
        font-size: 1.7rem;
    }
}

@media (max-width: 320px) {
    .title-inicio h3{
        font-size: 1.8rem;
    }

    .sidebar-logo {
        padding: 2rem 16.4px;
    }

    .card-title {
        font-size: 1.7rem;
    }
}